<!DOCTYPE html>
<html>

<head>
    <title>Composite Geographical Area Search</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/buttons/2.1.1/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/geo.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/merge-tables.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div id="cookies">
        <p>Cookies are currently disabled in your browser. To use this feature, please enable cookies.</p>
        <button href="https://support.google.com/accounts/answer/61416" target="_blank">Enable Cookies</button>
    </div>
    <div id="master-dateFilterDropdown" class="dropdown-content">
        <div class="search-bar">
        </div>
        <div class="date-filter">
            <label for="min">After:</label>
            <input style="margin-bottom: 6px;" type="date" id="master-min-date" placeholder="After:">
            <label for="max">Before:</label>
            <input type="date" id="master-max-date" placeholder="Before:">
        </div>
    </div>
    <div id="saved-title">
        <h1 class="saved-titles">Saved Places</h1>
    </div>
    <table class="display" id="master-table">
        <thead>
            <tr id="row">
                <th>Name</th>
                <th>Type</th>
                <th>Last Updated</th>
                <th class="details-control">Details</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be inserted here -->
        </tbody>
    </table>
    <div style="border: 2px solid #002856;" id="map"></div>
    <button id="loadDataButton" style="margin-right: 15px;"> Fetch & Display Data </button>
    <button id="saveShapesButton"> Save Shapes </button>
    <select id="savedShapesSelection">
        <!-- Options will be filled dynamically -->
    </select>
    <form style="display:none;" onsubmit="return false" action="" method="post">
        <input class="share" id="share" style="margin-left: 10px;" type="submit" name="share" value="share" />
    </form>
    <!-- <button id="loadShapesButton">Load Shapes</button>   -->
    <div id="loader" class="loader" style="display: none"></div>
    <div id="data-dateFilterDropdown" class="dropdown-content">
        <div class="search-bar">
        </div>
        <div class="date-filter">
            <label for="min">After:</label>
            <input style="margin-bottom: 6px;" type="date" id="data-min-date" placeholder="After:">
            <label for="max">Before:</label>
            <input type="date" id="data-max-date" placeholder="Before:">
        </div>
    </div>
    <div id="saved-title">
        <h3 class="saved-titles">Main Search</h3>
    </div>
    <table class="display" id="data-table">
        <thead>
            <tr id="row">
                <th>Select</th>
                <th>Name</th>
                <th>Type</th>
                <th>Last Updated</th>
                <th class="details-control">Details</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be inserted here -->
        </tbody>
    </table>
    <button class="merge" id="merge" style="margin-left: 10px;" type="button" value="false">Save Selected
        Entries</button>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.1/js/buttons.print.min.js"></script>
    <script src="{{ url_for('static',filename='js/geo.js') }}"></script>
</body>

</html>